<div class="parts">
    <p>Danh sách các bộ phận</p>
    <div class = "parts--btn">
        <div class="partsAll clickBtn">Tất cả</div>
        <div class="manufactureFactoryAll">Cơ sở sản xuất</div>
        <div class="agentAll">Đại lý</div>
        <div class="warrantyCenterAll">Trung tâm bảo hành</div>
    </div>

    <div class="table-DS">
        <table>
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên cơ sở</th>
                    <th>Địa chỉ</th>
                    <th>Số điện thoại</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody class="DS-parts">
                {{{checkParts partsAll}}}
            </tbody>
        </table>
    </div>

    
</div>




<div class="parts--mobile">
     <div class="parts--mobile-header">
         <p>Danh sách các bộ phận</p>
     </div>
    <div class="select-parts">
        <select name="" id="">
            <option value="">Tất cả các bộ phận</option>
            <option value="">Cơ sở sản xuất</option>
            <option value="">Đại lý</option>
            <option value="">Trung tâm bảo hành</option>
        </select>

       <div class="icons">
           <i class="fa-regular fa-bookmark"></i>
           <i class="fa-solid fa-gear"></i>
       </div>
    </div>

    <div class="parts--mobile-ds">
        {{#each partsAll}}
        <div>
            <h4>{{this.name}}</h4>
            <p>{{this.address}}</p>
            <p>{{this.phone}}</p>
        </div>
        {{/each}}
    </div>
</div>









































<script>
    const divPartsAll = document.querySelector('.partsAll')
    const divManufactureFactoryAll = document.querySelector('.manufactureFactoryAll')
    const divAgentAll = document.querySelector('.agentAll')
    const divWarrantyCenterAll = document.querySelector('.warrantyCenterAll')
    const tbodyDS = document.querySelector('.DS-parts')

    divPartsAll.onclick = function() {
        tbodyDS.innerHTML= `{{{checkParts partsAll}}}`
        divPartsAll.classList.add('clickBtn')
        divManufactureFactoryAll.classList.remove('clickBtn')
        divAgentAll.classList.remove('clickBtn')
        divWarrantyCenterAll.classList.remove('clickBtn')
    }

    divManufactureFactoryAll.onclick = function() {
        tbodyDS.innerHTML= `{{{checkParts MFs}}}`
        divPartsAll.classList.remove('clickBtn')
        divManufactureFactoryAll.classList.add('clickBtn')
        divAgentAll.classList.remove('clickBtn')
        divWarrantyCenterAll.classList.remove('clickBtn')
    }

    divAgentAll.onclick = function() {
        tbodyDS.innerHTML= `{{{checkParts agents}}}`
        divPartsAll.classList.remove('clickBtn')
        divManufactureFactoryAll.classList.remove('clickBtn')
        divAgentAll.classList.add('clickBtn')
        divWarrantyCenterAll.classList.remove('clickBtn')
    }

    divWarrantyCenterAll.onclick = function() {
        tbodyDS.innerHTML= `{{{checkParts WCs}}}`
        divPartsAll.classList.remove('clickBtn')
        divManufactureFactoryAll.classList.remove('clickBtn')
        divAgentAll.classList.remove('clickBtn')
        divWarrantyCenterAll.classList.add('clickBtn')
    }
</script>