
    <div id='header'>
        <div class='header__logo'>
            <i class="fa-solid fa-bars fa-bars-3"></i>
            <img
                src='https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Honda_Logo.svg/2552px-Honda_Logo.svg.png'
                alt='Logo Honda'
            />
        </div>

        <div class='header__search'>
            <input type='text' placeholder='Tìm kiếm sản phẩm' />
            <div class='logo_search'>
                <i class='fa-solid fa-magnifying-glass'></i>
            </div>
        </div>
        <div class='header__masthead'>
            <div>
                <i class='fa-solid fa-bell'></i>
            </div>
            <div class='avatar'>
                <img class="avatar-img" src='{{user.avatar}}' alt='avatars' />
                <div class="block-nav">
                    <div class="navBarAvatar">
                        <div class="thongtin">
                            <img src='{{user.avatar}}' alt='avatars' />
                            <h4>{{user.username}}</h4>
                        </div>
                        <div >
                            <a href="">viết blog</a>
                            <a href="">Cài đặt</a>
                            <a href="/auth/logout">Đăng xuất</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="nav__overlay"></div>
    <nav class="nav__mobile">
        <div>
            <img src="{{user.avatar}}" alt="">
            <h4>{{user.username}}</h4>
        </div>
        <div class="nav__mobile-close">
            <i class="fa-solid fa-circle-xmark"></i>
        </div>

        {{!-- hoàn thành sau --}}
        <ul class="nav__mobile-list">
            <li><a href="" class = "nav__mobile-link"></a></li>
            <li><a href="" class = "nav__mobile-link"></a></li>
            <li><a href="" class = "nav__mobile-link"></a></li>
            <li><a href="" class = "nav__mobile-link"></a></li>
        </ul>
    </nav>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        const avatar = $('.avatar')
        avatar.click(function(){
            $('.block-nav').toggle()
        })
    })

    const navOerlay = document.querySelector('.nav__overlay')
    const navMobile = document.querySelector('.nav__mobile')

    const btnClose = document.querySelector('.nav__mobile-close')
    const thanh3gach = document.querySelector('.fa-bars-3')

    thanh3gach.onclick = function(e) {
        navOerlay.style.display = 'block'
        navMobile.style.animation = 'navBar_mobile_show 0.5s linear forwards'
    }

    btnClose.onclick = function(e) {
        navMobile.style.animation = 'navBar_mobile_hidden 1s linear forwards'
        navOerlay.style.display = 'none'
    }
    navOerlay.onclick = function(e) {
        navMobile.style.animation = 'navBar_mobile_hidden 1s linear forwards'
        navOerlay.style.display = 'none'
    }

</script>