
    <div id='header'>
        <div class='header__logo'>
            <i class="fa-solid fa-bars fa-bars-3"></i>
            <img
                src='https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Honda_Logo.svg/2552px-Honda_Logo.svg.png'
                alt='Logo Honda'
            />
        </div>

        <div class='header__search'>
            <input type='text' placeholder='Tìm kiếm sản phẩm' />
            <div class='logo_search'>
                <i class='fa-solid fa-magnifying-glass'></i>
            </div>
        </div>
        <div class='header__masthead'>
            <div>
                <i class='fa-solid fa-bell'></i>
            </div>
            <div class='avatar'>
                <img class="avatar-img" src='{{user.avatar}}' alt='avatars' />
                <div class="block-nav">
                    <div class="navBarAvatar">
                        <div class="thongtin">
                            <img src='{{user.avatar}}' alt='avatars' />
                            <h4>{{user.username}}</h4>
                        </div>
                        <div >
                            <a href="">viết blog</a>
                            <a href="">Cài đặt</a>
                            <a href="/auth/logout">Đăng xuất</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="nav__overlay"></div>
    <nav class="nav__mobile">
        <div class="avatar-name-moblie">
            <img src="{{user.avatar}}" alt="">
            <h4>{{user.username}}</h4>
        </div>
        <div class="nav__mobile-close">
            <i class="fa-solid fa-circle-xmark"></i>
        </div>

        {{!-- hoàn thành sau --}}
        <ul class="nav__mobile-list">
            <li>
                <i class="fa-solid fa-house"></i>
                <a href="/" class = "nav__mobile-link">Home</a>
            </li>
            <li>
                <i class="fa-solid fa-layer-group fa-gear-cd"></i>
                <a href="/parts/all" class = "nav__mobile-link">Các bộ phận</a>
            </li>
            <li>
                <i class="fa-solid fa-warehouse fa-gear-cd"></i>
                <a href="" class = "nav__mobile-link">Kho của tôi</a>
            </li>
            <li>
                <i class="fa-solid fa-industry fa-gear-cd"></i>
                <a href="" class = "nav__mobile-link">Cơ sở sản xuất</a>
            </li>
            <li>
                <i class="fa-solid fa-shop fa-gear-cd"></i>
                <a href="" class = "nav__mobile-link">Đại lý</a>
            </li>
            <li>
                <i class="fa-solid fa-screwdriver-wrench fa-gear-cd"></i>
                <a href="" class = "nav__mobile-link">Trung tâm bảo hành</a>
            </li>
            <li>
                <i class="fa-solid fa-right-from-bracket"></i>
                <a href="/auth/logout" class = "nav__mobile-link">Logout</a>
            </li>
        </ul>
    </nav>

<script src="../../js/partials/header.js"></script>
