<div class="detail_productLine">
    <div class="detail_productLine--introduce">
        <div class = "product--description">
            <img src="{{productLine.avatar}}" alt="">
            <div>
                <h3>Đặc điểm</h3>
                <p>Cuộc đời là một cuộc phiêu lưu tràn đầy những điều bất ngờ và mỗi người đều có một vạch đích của riêng mình. Hãy tự tin tạo những cú kích để vút xa và tạo dấu ấn riêng biệt cùng Honda WINNER X mới. Đánh dấu sự chuyển mình mạnh mẽ hướng tới hình ảnh một mẫu siêu xe thể thao cỡ nhỏ hàng đầu tại Việt Nam cùng những trang bị hiện đại và tối tân, WINNER X mới sẵn sàng cùng các tay lái bứt tốc trên mọi hành trình khám phá.</p>
            </div>
        </div>
        <div class="product--price-bh">
            <div>Gía bán đề xuất: 
                <h2>
                    {{productLine.price}} VNĐ
                </h2>
            </div>
            <p>Thời gian bảo hành: {{productLine.warrantyPeriod}} năm</p>
        </div>
    </div>


    <div class="product__parameter">
        <p>Thông số kỹ thuật</p>
        <div class="product__parameter--list">
            <div>
                
                    <div class="product__parameter--item">
                        <div>Khỗi lượng sản phẩm</div>
                        <div>{{productLine.weight}}</div>
                    </div>
                     <div class="product__parameter--item">
                        <div>Dung tích bình xăng</div>
                        <div>{{productLine.PetrolTankCapacity}}</div>
                    </div>
                     <div class="product__parameter--item">
                        <div>Công suất tối đa</div>
                        <div>{{productLine.maximumCapacity}}</div>
                    </div>
                    <div class="product__parameter--item">
                        <div>Mức tiêu thụ nhiên liệu</div>
                        <div>{{productLine.fuelConsumption}}</div>
                    </div>
                
            </div>
        </div>
    </div>
</div>