<div class="warehouse">
    <p>Danh sách các kho của tôi: </p>

    <div>
        <table>
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Mã kho</th>
                    <th>Tên kho</th>
                    <th>Số lượng tồn kho</th>
                    <th>Chi tiết</th>
                </tr>
            </thead>
            <tbody>
                
                {{#each warehouses}}
                    <tr>
                        <td>{{@index}}</td>
                        <td>{{this.id}}</td>
                        <td>{{this.name}}</td>
                        <td>{{lookup ../result @index}}</td>
                        <td><a href="/warehouse/getDetailWarehouse/{{this.id}}">Chi tiết</a></td>
                    </tr>
                {{/each}}
                 
            </tbody>
        </table>
    </div>
</div>